/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: 'NVIDIA Sans', roboto, roboto-fallback, sans-serif;
  --heading-font-family: 'NVIDIA Sans', roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: 400;
  line-height: 1.5;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  line-height: 1.2;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  font-weight: 700;
}

h2 {
  font-size: var(--heading-font-size-xl);
  font-weight: 600;
}

h3 {
  font-size: var(--heading-font-size-l);
  font-weight: 600;
}

h4 {
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

h5 {
  font-size: var(--heading-font-size-s);
  font-weight: 500;
}

h6 {
  font-size: var(--heading-font-size-xs);
  font-weight: 400;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
 /* margin: 40px 16px;*/
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
/*main>.section {
  margin: 40px 0;
}*/

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}


.align-center-heading>.default-content-wrapper>:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}


.align-center>.default-content-wrapper>:is(p) {
  text-align: center;
}

.section.align-centre-block-mobile .columns>div>div {
  text-align: center;
}

.section.align-centre-block-mobile .button-container {
  justify-content: center;
}

.bg-color-black {
  background: rgb(26 26 26) none no-repeat scroll 0% 0% / auto padding-box border-box;
  color: white;
}

.bg-color-light {
  background-color: #f7f7f7
}

.section.p-y-60 {
  padding-block: 60px;
  margin: 0;
}

.section.p-y-75 {
  padding-block: 75px;
  margin: 0;
}

.section.general-container .default-content-wrapper,
.section.general-container .banner-wrapper,
.section.general-container .columns-wrapper,
.section.general-container .tabs,
.section.general-container .immersive-cards-wrapper,
.section.general-container .multi-purpose-cards-wrapper {
  max-width: 984px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.align-right-cta .button-container{
      display: flex;
    justify-content: end;
}


/* Title type styles */
.h3-small h1 {
  font-size: 18px;
}

/* Title font-size styles */
.font-size-large h1,
.font-size-large h2,
.font-size-large h3,
.font-size-large h4,
.font-size-large h5,
.font-size-large h6 {
  font-size: calc(var(--heading-font-size-xxl) * 1.2);
}

.font-size-medium h1,
.font-size-medium h2,
.font-size-medium h3,
.font-size-medium h4,
.font-size-medium h5,
.font-size-medium h6 {
  font-size: var(--heading-font-size-l);
}

.font-size-small h1,
.font-size-small h2,
.font-size-small h3,
.font-size-small h4,
.font-size-small h5,
.font-size-small h6 {
  font-size: var(--heading-font-size-s);
}

/* ============================================
   TABLET VIEW (600px – 1024px)
   ============================================ */
@media (min-width: 600px) and (max-width: 1024px) {
  .section.align-left-block-desktop .columns>div>div {
    text-align: left;
  }

  .section.align-left-block-dekstop .button-container {
    justify-content: left;
  }

  .section.general-container .default-content-wrapper,
  .section.general-container .banner-wrapper,
  .section.general-container .columns-wrapper {
    max-width: 660px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
}

@media (width >=900px) {
  main>.section>div {
    padding: 0 32px;
  }

  .section.align-left-block-desktop .columns>div>div {
    text-align: left;
  }

  .section.align-left-block-dekstop .button-container {
    justify-content: left;
  }

}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

/* GTC Banner Styles */
.section.gtctext {
  background-color: #F1F1F1;
  padding: 15px 0;
}

.gtctext .default-content-wrapper {
  position: relative;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: left;
  min-height: 90px; /* Height of the icon */
  margin-left: 100px;
      margin-right: 100px;
}

.gtctext .icon-nvidia-gtc-logo {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  margin-right: 25px;
}

.gtctext .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gtctext h4,
.gtctext p {
  margin: 0;
  padding: 0;
}

.gtctext h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.25em;
}

.gtctext h4 {
  font-size: 22px;
  font-weight: 700;
  align-items: center;
}

.gtctext p:last-child {
  font-size: 18px;
    font-weight: 400;
  line-height: 1.75em;
  margin-left: 0px;
}

.gtctext p strong {
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.gtctext p .icon-chevron-right {
  width: 18px;
  height: 18px;
   cursor: pointer;
  margin-left: 1px; /* Changing property */
    transition: .4s ease-out; /* Transition is defined here */
   /* filter: invert(55%) sepia(99%) saturate(448%) hue-rotate(41deg) brightness(95%) contrast(91%);*/
}

.gtctext p strong:hover .icon-chevron-right {
  margin-left: 4px; /* Move the icon 3px to the right */
  padding-right: 0;

  /* Hover Icon Color (Black/Dark Gray) */
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(105%) contrast(101%);
}

.gtctext p strong:hover{
  margin-left: 4px;
  padding-right: 0;
  /*filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(240deg) brightness(105%) contrast(101%);*/

}

/* Media Queries */
@media (min-width: 1024px) and (max-width: 1349px) {
  .gtctext .default-content-wrapper {
    max-width: 984px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .gtctext .default-content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -8px;
  }
}

@media (min-width: 640px) {
    /* 1. Make the wrapper a block container for the float to work */
    .gtctext .default-content-wrapper {
        display: block; /* Overrides the default display: flex; for desktop/tablet */
        align-items: flex-start; /* Resetting align-items */
        min-height: 90px;
         padding-left: 35px;
    }

    /* 2. Float the Icon (First <p> child) to the left to create the first column */
    .gtctext .default-content-wrapper > p:first-child {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
        position: relative;
                top: -10px;
    }

    /* 3. Clear the floating icon and set the left margin for the text elements
       (90px icon width + 25px margin-right = 115px margin-left) */

    .gtctext h2 {
        /* This is the top element in the right column */
        margin-left: 115px;
         margin-right: 115px;
        margin-top: 0;
        margin-bottom: 0;
        display: block;
    }

    .gtctext .default-content-wrapper > p:last-child {
        /* This is the bottom element in the right column, forced to the next line */
        margin-left: 115px;
        margin-right: 115px;
        margin-top: 5px; /* Spacing below the H2 */
        margin-bottom: 0;
        display: block;
    }

    /* 4. Center the entire wrapper content vertically if needed
       (This requires adding a bit of padding/spacing to the banner section) */
    .section.gtctext {
        padding: 40px 0;
        margin: 0px;
    }
}

@media (max-width: 1023px) {
  .gtctext .default-content-wrapper {
    flex-direction: column;
    text-align: left;
  }

  .gtctext .icon-nvidia-gtc-logo {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .gtctext h4,
  .gtctext p {
    text-align: left;
  }

  .gtctext p {
    margin: 15px 0 0 0;
  }
}

@media (max-width: 639px) {
  .gtctext .icon-nvidia-gtc-logo {
    width: 70px;
    height: 70px;
    text-align: left;
  }

  .gtctext h4,
  .gtctext p {
    font-size: 18px;
    text-align: left;
  }

}/* Main Container */
.gtc-block-container {
    background-color: #F1F1F1;
    width: 100%;
    box-sizing: border-box;
}

.gtc-block-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Grid Layout for the Block */
.gtc-block {
    display: grid;
    /* Mobile grid (default) */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 15px;
    padding: 30px 0;
    box-sizing: border-box;
}

/* Reset and Defaults */
.gtc-block div {
    box-sizing: border-box;
}

.gtc-block p {
    margin: 0;
    font-family: "NVIDIA Sans", "Helvetica Neue", Helvetica, Roboto, "Segoe UI", Arial, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

/* Image Section */
.gtc-block>div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}

.gtc-block>div:nth-child(1) img {
    /* Mobile width */
    width: 70px;
    height: auto;
    display: block;
}

/* Title Section */
.gtc-block>div:nth-child(2) p {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    margin-bottom: 5px;
}

/* Description & Link Section */
.gtc-block>div:nth-child(3) p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Link Style */
.gtc-block>div:nth-child(3) a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}

/* Link Hover Effect & Arrow */
.gtc-block>div:nth-child(3) a::after {
    content: "›";
    /* Chevron character */
    display: inline-block;
    color: #76b900;
    font-size: 24px;
    line-height: 1;
    margin-left: 3px;
    vertical-align: -2px;
    transition: all 0.3s ease;
    font-weight: 400;
}

.gtc-block>div:nth-child(3) a:hover::after {
    color: #000;
    margin-left: 6px;
}

/* -----------------------------------------------------------
   Media Queries 
   ----------------------------------------------------------- */

/* Tablet: 640px to 1023px */
@media screen and (min-width: 640px) and (max-width: 1023px) {
    .gtc-block {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        /* Image in col 1, Text in col 2 */
        column-gap: 25px;
        row-gap: 0;
        /* Text needs to flow */
        align-items: start;
    }

    .gtc-block>div:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1;
        padding-top: 5px;
        /* Visual alignment */
    }

    .gtc-block>div:nth-child(1) img {
        width: 80px;
    }

    .gtc-block>div:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }

    .gtc-block>div:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
    }
}

/* Laptop: 1024px to 1349px */
@media screen and (min-width: 1024px) {
    .gtc-block {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        column-gap: 30px;
        padding: 40px 0;
    }

    .gtc-block>div:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .gtc-block>div:nth-child(1) img {
        width: 100px;
        /* Estimate for laptop/desktop */
    }

    .gtc-block>div:nth-child(2) {
        grid-row: 1;
        grid-column: 2;
    }

    .gtc-block>div:nth-child(2) p {
        font-size: 28px;
        /* Larger title */
    }

    .gtc-block>div:nth-child(3) {
        grid-row: 2;
        grid-column: 2;
    }

    .gtc-block>div:nth-child(3) p {
        font-size: 18px;
        /* Larger text */
    }
}

/* Desktop: 1350px and up - Specific refinements if any from ref.html */
@media screen and (min-width: 1350px) {
    /* Matches ref.html separators heights if we had them, 
       but here we control padding/typography */
}
